<h1>Creatures Index!</h1>
<ul>
	<% @creatures.each do |creature| %>
	  <li>
	  	<%= link_to creature do %>
	  	  <%= creature.name %> - <%= creature.description %>
	  	<% end %>
	  </li>
	<% end %>
</ul>

